<form [formGroup]="forma" style="display: flex; flex-direction: column;">
	<div style="display: flex; justify-content: space-around;">
		<div style="display: flex; flex-direction: column; align-items: center;">
			<label>Šifrovan tekst:</label>
			<textarea style="width: 350px;" formControlName="sifrovan" rows="25"></textarea>
		</div>
		<div style="display: flex; flex-direction: column; align-items: center;">
			<label>Dešifrovan tekst:</label>
			<textarea style="width: 350px;" formControlName="desifrovan" rows="25"></textarea>
		</div>
	</div>
	<br />
	<button style="width: 100px; align-self: center;" (click)="desifruj()">Dešifruj</button>
</form>